/*
Highlight: #FFC300
Main: #000000

*/

* {
    background-color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.left-image {
    float: left;
    padding: 2px 16px;
    display:flex; 
    align-items:center; 
    gap:1rem; 
    flex-wrap:wrap;
}
.left-image h1 {
    color: white;
    display: inline-block;
    vertical-align: top;
    flex:1;
    
}
.left-image p {
    display: inline-block;
    color: white;
    vertical-align: bottom;
    flex:1;
}
.left-image img {
    flex:0 0 300px;
    width:100%; 
    height:auto; 
    display:block;
}

.right-image {
    float: right;
    padding: 2px 16px;
    display:flex; 
    align-items:center; 
    gap:1rem; 
    flex-wrap:wrap;
}
.right-image h1 {
    color: white;
    display: inline-block;
    vertical-align: top;
    flex:1;
}
.right-image p {
    display: inline-block;
    color: white;
    vertical-align: bottom;
    flex:1;
}
.right-image img {
    flex:0 0 300px;
    width:100%; 
    height:auto; 
    display:block;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #FFC300;
}

.hero img{
    width: 100%;
    height: 100%;
}